
<div class="row main">
    <div class="col-sm-2 side-menu">
        <ul>
            <li>
                first
            </li>
            <li>
                second
            </li>
            <li>
                third
            </li>
            <li>
                fourth
            </li>
        </ul>
    </div>

    <div class="col-sm-10 main-content">
        Main Content!
    </div>
</div>

